{
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; 
  text-align:center;}

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-transparent {
  background-color: transparent !important; }


.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }


.classynav ul li {
  display: inline-block;
  clear: both;
  position: inherit;
  z-index: 10; }
  .classynav ul li.cn-dropdown-item {
    position: relative;
    z-index: 10; }
    .classynav ul li.cn-dropdown-item ul li {
      position: relative;
      z-index: 10; }
  .classynav ul li ul li {
    display: block; }
    .classynav ul li ul li a {
      padding: 0 20px; }
  .classynav ul li a {
    padding: 0 12px;
    display: block;
    height: 35px;
    font-size: 22px;
    line-height: 34px; }
  .classynav ul li .megamenu li a {
    padding: 0 12px; }
  .classynav ul li div.single-mega a {
    height: auto;
    line-height: 1; }

