@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url(css/bootstrap.min.css);
@import url(css/classy-nav.css);
@import url(css/owl.carousel.min.css);
@import url(css/font-awesome.min.css);
/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px; }

h1 {
  font-family: "Montserrat", sans-serif;
  color: #272727;
  line-height: 1.3;
  font-weight: 600; 
  }

p, .mailto {
  font-family: "Montserrat", sans-serif;
  color: #7a7a7a;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 700; }
  
select, input {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 500; 
  padding:5px;
  border-radius:4px; 
  border:1px solid #AAAAAA;
  width: 250px;}

.colorPicker {
	width: 40px;
	background: red;
} 
 
option.red {
	background-color: red;
}

option.blue {
	background-color: blue;
}

option.green {
	background-color: green;
}

option.black {
	background-color: black;
}

option.white {
	background-color: white;
}

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif; }

hr {
   position: relative;
   padding: 0;
   margin: 8px auto;
   width: 100%;
   max-height: 0;
   line-height: 0px;
   clear: both;
   border: none;
   border-top: 10px solid #01BAFF;
   border-bottom: 20px solid #FFFFFF;
}

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }
  
/* Try It Block */
.tryContainer {
    position: relative;
    text-align: center;
}

.tryText {
    position: absolute;
    bottom: 10%;
    left: 50%;
	text-align: center;	
	transform: translate(-50%);
	color: red;
	font-weight: bold;
	font-size: 40px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  padding: 5px;
  max-height:200px;
}

.motiv {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  padding: 30px;
  max-height:250px;
}

/* Hover on Pictures */

.cont {
    position: relative;
    width: 50%;
	display:inline;
}

.cont:hover .image {
  opacity: 0.3;
}

.cont:hover .motiv {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}


.text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 32px;
}  
  
/* :: 3.2.0 Height */
.height-400 {
  height: 400px !important; }

.height-500 {
  height: 500px !important; }

.height-600 {
  height: 600px !important; }

.height-700 {
  height: 700px !important; }

.height-800 {
  height: 800px !important; }

/* :: 3.3.0 Section Padding */
.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0; }

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px; }

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px; }


/* :: 3.5.0 Miscellaneous */
.tooltip-inner {
  background-color: #b0c364; }

.tooltip .arrow::before {
  border-bottom-color: #b0c364; }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #000000 !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f0f4f8; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.bg-fixed {
  background-attachment: fixed !important; }

/* :: 3.6.0 ScrollUp */
#scrollUp {
  background-color: #000000;
  border-radius: 0;
  bottom: 50px;
  color: #ffffff;
  font-size: 24px;
  height: 40px;
  line-height: 37px;
  right: 50px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15); }
  #scrollUp:hover, #scrollUp:focus {
    background-color: #b0c364;
    color: #ffffff; }


/* :: 4.0 Header Area CSS */
.header-area {
  position: relative;
  z-index: 1000;
  width: 100%; }
  
  .header-area .logo-area {
    position: relative;
    z-index: 1;
    padding: 50px 30px;
    text-align: center; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header-area .logo-area {
        padding: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .header-area .logo-area {
        padding: 30px; } }
    @media only screen and (max-width: 767px) {
      .header-area .logo-area {
        padding: 30px 15px; } }
    .header-area .logo-area a {
      display: inline-block; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .logo-area a {
          max-width: 150px; } }
      @media only screen and (max-width: 767px) {
        .header-area .logo-area a {
          max-width: 150px; } }
      

/* :: 5.0 Hero Area CSS */
.single-slide {
  position: relative;
  z-index: 1;  }
  .single-slide::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }


.hero-area {
  position: relative;
  z-index: 1;
  padding: 0 30px; }
  @media only screen and (max-width: 767px) {
    .hero-area {
      padding: 0 15px; } }
  .hero-area .owl-item.center .single-slide::after {
    display: none; }
  .hero-area .owl-item.center .single-slide .blog-content-bg {
    visibility: visible;
    opacity: 1; }
  .hero-area .owl-prev,
  .hero-area .owl-next {
    position: absolute;
    width: 85px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #b0c364;
    left: 0;
    text-align: center;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 40px; }
    @media only screen and (max-width: 767px) {
      .hero-area .owl-prev,
      .hero-area .owl-next {
        width: 50px;
        font-size: 10px;
        height: 30px;
        margin-top: -15px;
        line-height: 30px; } }
    .hero-area .owl-prev:hover,
    .hero-area .owl-next:hover {
      background-color: #000000;
      color: #ffffff; }
  .hero-area .owl-next {
    left: auto;
    right: 0; }
	
	
	
	
/* :: 8.0 Footer Area CSS */
.footer-area {
  position: relative;
  z-index: 1;
  padding: 50px 0; }
  .footer-area .copywrite-text {
    font-size: 12px;
    margin-bottom: 0;
    color: #666666;
    font-weight: 400; }
    .footer-area .copywrite-text a {
      color: #666666;
      font-size: 12px;
      font-weight: 400; }
      .footer-area .copywrite-text a:hover, .footer-area .copywrite-text a:focus {
        color: #b0c364; }
  .footer-area .footer-nav {
    position: relative;
    z-index: 1;
    display: block; }
    .footer-area .footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media only screen and (max-width: 767px) {
        .footer-area .footer-nav ul {
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 30px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .footer-area .footer-nav ul {
          margin-top: 0; } }
    .footer-area .footer-nav li a {
      position: relative;
      z-index: 1;
      color: #666666;
      font-size: 12px;
      margin: 0 10px;
      font-weight: 400;
      padding: 0 5px; }
      @media only screen and (max-width: 767px) {
        .footer-area .footer-nav li a {
          padding: 0 2px;
          margin: 0 3px; } }
      .footer-area .footer-nav li a::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 100%;
        height: 3px;
        background-color: #b0c364;
        bottom: -8px;
        left: 0;
        right: 0;
        z-index: -1;
        position: absolute;
        content: '';
        visibility: hidden;
        opacity: 0; }
      .footer-area .footer-nav li a:hover, .footer-area .footer-nav li a:focus {
        color: #b0c364; }
    .footer-area .footer-nav li.active a::after, .footer-area .footer-nav li:hover a::after {
      visibility: visible;
      opacity: 1; }



